<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>Documentations</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link
  href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
  rel="stylesheet"
/>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


</head>

<body>
  <div id="nav-placeholder"></div>

  <script>
    $(function() {
      $("#nav-placeholder").load("nav.html");
    });
  </script>
  <script>
    $(document).ready(function () {
      //  When user clicks on tab, this code will be executed
      $("#mtabs li").click(function () {
        //  First remove class "active" from currently active tab
        $("#mtabs li").removeClass('active');

        //  Now add class "active" to the selected/clicked tab
        $(this).addClass("active");

        //  Hide all tab content
        $(".mtab_content").hide();

        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");

        //  Show the selected tab content
        $(selected_tab).fadeIn();

        //  At the end, we add return false so that the click on the link is not executed
        return false;
      });
    });

  </script>
<div class="container_doc">

    <!-- Original tabs START -->

    <div class="mtabs">
      <ul>
      
        <li><a onclick='show( ".Why_to_use",".Getting_Started",".How_to_use" )'  rel="Why to use">Why to use</a></li>  
        <li><a onclick='show(".How_to_use",".Getting_Started",".Why_to_use")'  rel="How to use">How to use</a></li>
        <li><a onclick='show(".Getting_Started",".How_to_use", ".Why_to_use")'  rel="Getting Started">Getting Started</a></li>
        <!--<li class="active"><a href="#tab4" rel="tab4">Tab 4</a></li>-->
      </ul>
    </div><br>

    <div class="mtabs_flexbox_container">
      <div class="Getting_Started mtab_content">
        <div class="header_doc">Getting Started</div>
        <div class="content">
          <p id="Getting Started">
            Getting started with our polling app. <!--<b>Document what your 3 endpoints do. What does it do when you hit them.</b>-->
            Our polling locator app is integrated with three different end points. The first endpoint is connected to the about page and returns the contents of the about page. 
            The second end point is /form_search, this endpoint takes a geocoded address (geocoded by the Google MAps Platform's geocoding API) and returns a list of nearby
            polling places that are within a 1-mile radius from the request address. The third endpoint, /doc which returns the contents of the documentation page.

            
          </p>
        </div>
      </div>

      <div class="How_to_use mtab_content2">
        <div class="header_doc">How to use</div>
        <div class="content_doc">
          <p id="How to use">
            This is how you use the polling locator website. The first step is to type your address into the search bar that is located 
            on the homepage of the polling site application. The address that you type into the search bar can be your home address or the address 
            of your current location but ensure that the address is a PG county address in order to get the best polling location results.<br><br> 
            The second step is to choose one of the search suggested or autocompleted addresses that you are typing into the search bar. Once
            you on click on your desired address and click the search button the polling site locator will generate about two or three nearest polling 
            locations that are 1 mile from the address you searched for. Each one of the recommended polling locations that is 1 mile from your address 
            has helpul information like the full address of the actual polling location for navigation purposes and a map that pin points the exact 
            location of each polling site. Now all you have to do is choose one of the polling sites the website recommended 
            for you so that you can go there and cast your vote. 

          </p>
        </div>
      </div>

      <div class="Why_to_use mtab_content3">
        <div class="header_doc">Why to use</div>
        <div class="content_doc">
          <p id="Why to use">
            There are many benefits to using our polling app. The goal is for our polling locator system to provide PG county 
            voters with a reliable way to quickly find their nearest polling sites to help them plan ahead of time and make their 
            voting process a little easier. Our team believes that our system can help increase the voter turnout rate in PG county.
            We know how important voting is in terms of shaping democracy in the United States that is why residents need a 
            reliable way of presenting that information in this age of unreliable data and fake news.<br><br>
            This polling application is designed to help users quickly find and search up to three open and available polling sites
            located anywhere in Prince Georges County Maryland that they can immediately go to and cast their votes if they wish. 
            Our team made this application because new and current residents of Prince Georges County residents wanted to have a 
            reliable source in helping them find the right polling places so this app should meet all their needs. We designed this application 
            based on the information that we collected from the conversations we had with new and current PG county residents.
            So our application was designed based on residents' demands and the opinions they have about the difficulties of 
            finding a reliable service that provides accurate polling sites that also integrates address and map features.  
            We included full addresses and a map that shows the user exactly where their polling place is located by using the prince Georges 
            county map we acquired from Google. When the user types in their address into the search bar they get two or three recommended 
            polling locations that are nearest to them based on their home address or current location address in PG county. 
            Users are given the freedom to choose any of the three recommended polling locations that are generated after the press search and 
            they can also choose another polling location other than the ones our application recommends they choose from.<br><br>
            Elderly voters at PG county that aren't very familiar with online polling site locators will find this application 
            useful and very easy to use. The interface is designed to suit almost all types of users. 
            Individuals that are not used to the internet that want to look up their polling locations will not find it 
            difficult to utilize this polling app since it's free of bloatware like advertisements and it's only designed 
            to handle polling location searches and nothing else. Another reason to use this app is because it was designed 
            based on the feedback we received from PG county college students. Most students are usually busy with work and school life 
            so this app will enable them to quickly lookup the nearest polling sites that are closest to their current location like 
            their college campus for example. overall this polling place locator is supposed to provide you with a fast and a reliable service.
          </p>
        </div>
      </div>

    </div>
    <!-- Original tabs END -->
  </div>

  <script>
    $(document).ready(function () {
      //  When user clicks on tab, this code will be executed
      $("#mtabs li").click(function () {
        //  First remove class "active" from currently active tab
        $("#mtabs li").removeClass('active');

        //  Now add class "active" to the selected/clicked tab
        $(this).addClass("active");

        //  Hide all tab content
        $(".mtab_content").hide();

        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");

        //  Show the selected tab content
        $(selected_tab).fadeIn();

        //  At the end, we add return false so that the click on the link is not executed
        return false;
      });
    });

  </script>
<script>
document.querySelector('.How_to_use').style.display='none';
document.querySelector('.Why_to_use').style.display='none';

function show(show,hide1,hide2){

  document.querySelector(show).style.display='block';
  document.querySelector(hide1).style.display='none';
  document.querySelector(hide2).style.display='none';
}

</script>
    
    <!-- Original tabs END -->
  </div>
</div>
</body>

</html>