body {
    font-family: 'Poppins', sans-serif;
  }
  
.mtabs_wrapper {
    width: 422px;
}
.mtabs_container {
    border-bottom: 1px solid #ccc;
}
.mtabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 0px;
    background-color:blue;
    display:flex;
    justify-content: left;
    
    /* font: 0.75em arial; */
}
.mtabs li {
    display: inline;
    
}
.mtabs li a {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 6px;
    text-decoration: none;
    color:#000;
    font-family: Artifika, serif; 
    background-color: #eeeeee;
    font-size:14px;
    /*border-bottom: 1px solid #ccc;
    outline: none;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.mtabs li a:hover {
    background-color: #FF6347;
    padding: 4px 6px;
}
.mtabs li.active a {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    /*border-bottom: none;*/
}
.mtabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    /*border-bottom: none;*/
}
 
.mtabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
.mtabs li a.icon_accept:hover {
    padding-left: 24px;
}
 
.mtabs_content_container {
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 600px;
    display:flex;

}
.mtab_content {
    display: flex;
}

/* TAB CSS END CSS for documentation page */

/* About */
.about-container{

    border:0px solid red;
     display:flex;
     font-family: 'Poppins', sans-serif;
 
padding:0px 15px;
    margin:auto;
  }
  .about-left{
  border:0px solid black;
  width:45%;
   display:inline-block;
    
  
  }
  .about-left p{
      
      width:80%;
  }
  .about-left h1{

    
    margin-bottom:80px;
  }
  .about-right{
  display:inline-block;
  
  }
  .about-right img{
    display:inline-block;
    border:0px solid green;
    margin-left:40%;
    
  }
  
  @media screen and (max-width: 800px) {
  
    .about-container{
  
      border:0px solid red;
      display:flex;
    flex-direction:column;
      margin:auto;
      padding:10px;
    }
    .about-left{
      border:0px solid black;
        width:100%;
       display:block;
       
         
      
      }
  .about-left h1{
    text-align:center;
  }
      .about-right img{
        display:block;
        border:0px solid green;
         margin:0;
         width:100%;
      }
      .about-right{
        width:100%;
        display:block;
      }
  }
  /* About */